<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="~/img/vite.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<main role="main" id="app">
		@RenderBody()
	</main>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
