@{
  ViewData["Title"] = "Home Page";
}

@section Styles {
  <link rel="stylesheet" href="~/Frontend/style.css" asp-append-version="true" />
}
@section Scripts {
  
}

<div>
  <h1>Hello Vite!</h1>
  <div>
    <button id="counter" type="button"></button>
  </div>
</div>
