@{
  ViewData["Title"] = "Home Page";
}

@section Styles {
  <link rel="stylesheet" vite-href="~/style.css" asp-append-version="true" />
}
@section Scripts {
  <script type="module" vite-src="~/main.js" asp-append-version="true"></script>
}

<div>
  <img src="~/vite.svg" class="logo" alt="Vite logo" />
  <img src="~/javascript.svg" class="logo vanilla" alt="JavaScript logo" />
  <h1>Hello Vite!!</h1>
  <div class="card">
    <button id="counter" type="button"></button>
  </div>
  <p class="read-the-docs">
    Click on the Vite logo to learn more
  </p>
</div>
