@{
  ViewData["Title"] = "Home Page";
}

<div>
  <img src="~/img/vite.svg" class="logo" alt="Vite logo" />
  <img src="~/img/javascript.svg" class="logo vanilla" alt="JavaScript logo" />
  <h1>Hello Vite</h1>
  <div class="card">
    <button id="counter" type="button"></button>
  </div>
</div>
